<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
        <script src="javascripts/jquery.min.js"></script>
        <script src='javascripts/crafty.js'></script>
        <script src='javascripts/craftyMFace.js'></script>
        <script src='javascripts/angular.min.js'></script>
        <!--        <script src="//cdn.firebase.com/js/client/2.2.1/firebase.js"></script>-->
        <script src="javascripts/firebase.js"></script>
        <script src='javascripts/main.js'></script>


        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <title>Multiplayer and Firebase by jwalton922</title>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-61100817-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body>
        <header>
            <div class="inner">
                <h1>Multiplayer and Firebase</h1>
                <h2>Simple example of Multiplayer with Firebase</h2>
                <a href="https://github.com/jwalton922/multiplayerAndFirebase" class="button"><small>View project on</small> GitHub</a>
            </div>
        </header>

        <div id="content-wrapper">
            <div class="inner clearfix">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bannerad -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-3405606336907850"
                     data-ad-slot="1281948327"></ins>
                <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <section id="main-content">
                    <h3>Welcome</h3>

                    <p>This project will contain a simple example of multiplayer "game" with Crafty.js over the internet with Firebase. Art created by Reiner.
                        In the example below you can create a player, move around and shoot other players. The leaderboard shows how many times each player
                        has knocked down each other player since you've been on the page.</p>
                    <p>There are additional projects using Crafty.js and Reiner's Art which can be found at <a href='//jwalton922.github.io'>jwalton922.github.io</a></p>
                    <p>There is a comment section below, please feel free to post questions there or email me at jwalton922@gmail.com</p>
                    <p>This is still under work and will hopefully be ready in the near future.</p>
                    <h4>Instructions</h4>
                    <p>
                        Type in a username that is at least 4 characters, and hit connect. You can now left click to move around the (small) world. You will see
                        other people who are logged in moving around also. Right click to shoot an arrow. If you hit another player, you will knock them down.</p>
                    <p> There is a very good chance that no other users will be on simultaneously
                        since this won't be receiving a ton of traffic, so open this page in a new tab or browser window and enter a different user name
                        to see the multiplayer in action.
                    </p>
                    <p>Warning, changing username after you hit connect will currently cause problems. If you want a different username, refresh the page.</p>

                </section>

                <aside id="sidebar">
                    <a href="https://github.com/jwalton922/multiplayerAndFirebase/zipball/master" class="button">
                        <small>Download</small>
                        .zip file
                    </a>
                    <a href="https://github.com/jwalton922/multiplayerAndFirebase/tarball/master" class="button">
                        <small>Download</small>
                        .tar.gz file
                    </a>

                    <p class="repo-owner"><a href="https://github.com/jwalton922/multiplayerAndFirebase"></a> is maintained by <a href="https://github.com/jwalton922">jwalton922</a>.</p>

                    <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
                </aside>
            </div>


        </div>
        <div id="content-wrapper">
            <div class="inner clearfix">
                <div data-ng-app="firebaseMultiplayerExample" data-ng-controller="MainCtrl" data-ng-init="init()">
                    Username: <input type="text" data-ng-model="username" /><button data-ng-click="connect()">Connect</button>                        
                    <h5>Knock Down Leader Board</h5>
                    <table class="table table-borderd">
                        <tr><th>Leader</th><th>Knock Downs</th><th>Players</th></tr>
                        <tr data-ng-repeat="leader in leaders">
                            <td>{{leader.username}}</td>
                            <td>{{leader.knockDowns}}</td>
                            <td>{{leader.playersKnockedDown}}</td>
                        </tr>
                    </table>
                    <div id="cr-stage" style="width:800px; height:600px;display:inline-block;"></div>
                    <div><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- skyscraper -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:600px"
                             data-ad-client="ca-pub-3405606336907850"
                             data-ad-slot="8052531927"></ins>
                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
                <div id="disqus_thread"></div>                    
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

            </div>                
        </div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'jwalton922';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </body>
</html>
